
body{
	background-color:#383B93 ;
	margin: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

p{
	margin: 0;
}

ul
{
	list-style-type: none;
	padding-left: 0;
}

.box-flex{
	flex: auto;
	flex-direction: column;
}

.vertical-box-item{
	padding-bottom: 3%;
}

.box-style{
	background-color: #FFFFFF;
	max-width: 500px;
	box-shadow: 10px 10px 0px 0px #000044;
	border-radius: 10px;
	padding: 20px;
	margin: 15% auto auto auto;
	justify-content: auto;
}

.header-style{
	background-color: #FFFFFF;
	height: 70px;
	padding: 10px;
}

.header-button-style{
	background-color: #466DA5 ;
	color: #FFFFFF;
	
	height: 30px;
	min-width: 120px;
	border-radius: 10px;
	border: none;
	margin: auto;
	cursor: pointer;
}

.button-update:hover{
	background-color: #383B93;
	transform: scale(0.9)
}

.grid{
	display: grid;
	grid-template-columns: 20%;
}


::-ms-reveal
{
	display: none;
}